{
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^node:", "^bun:", "<THIRD_PARTY_MODULES>", "^@/", "^\\."],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
